#modal-root .custom_modal.active ~ .custom_modal.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1000000000000;
  opacity: 0.9999999999;
}

.custom_modal {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  opacity: 0;
  z-index: -2;
  transition: 1s all;
}

.custom_modal.active {
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  opacity: 1;
}

.custom_modal_content {
  margin-top: 101vh;
  position: relative;
  overflow: auto;
  margin: 0 auto;
  width: max(20.333%, min(350px, 90vw));
  transition: 1s all;
}

.custom_modal .custom_modal_content .modal_item:hover {
  cursor: pointer;
  transition: 0.3s all;
  color: white;
  background-color: var(--light-blue);
  border-radius: var(--component-border-radius);
}

.modal_item {
  transition: 0.2s all;
}

.custom_modal_content-enter {
  opacity: 0;
}

.custom_modal_content-enter-active {
  margin-top: 0vh;
  top: calc(50% - var(--mobile-navbar-height) / 2);
  transform: translateY(-200%);
  transition: 1s;
  opacity: 1;
}

.custom_modal_content-enter-done {
  top: calc(50% - var(--mobile-navbar-height) / 2);
  transform: translateY(-200%);
  opacity: 1;
}

.custom_modal_content-exit {
  opacity: 1;
}

.custom_modal_content-exit-active {
  opacity: 0;
}

.custom_modal_content-exit-done {
  opacity: 1;
}

.custom_modal_content-exit-done .custom_modal {
  transform: translateX(-400vh);
}
