.wrapper {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.header {
  border-bottom: 1px solid #333;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.body {
  font-size: 14px;
}

.footerButton {
  background-color: rgb(72, 213, 151);
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
}
