@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'PP Object Sans';
}

footer {
  margin-top: auto;
}

@font-face {
  font-weight: 400;
  font-family: PP Object Sans;
  font-style: normal;
  src: url('/fonts/PPObjectSans-Regular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: PP Object Sans;
  font-style: normal;
  src: url('/fonts/PPObjectSans-Medium.woff') format('woff');
}
